version: 2.1
orbs:
  node: circleci/node@4.2.0
  aws-cli: circleci/aws-cli@2.4.28
jobs:
  Front_end_deployment:
    working directory: ~/app/udagram-frontend
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-frontend
      - run:
          name: front_end_build
          command: npm run build
      - aws-cli/install
      - run:
          name: Deploy Frontend
          command: aws s3 cp --recursive --acl public-read ./www s3://udagram-heidar/
  back_end_deployment:
    working_directory: ~/app/udagram-api
    executor: node/default
    steps:
      - checkout:
          path: ~/app
      - node/install-packages:
          app-dir: ~/app/udagram-api
      - run:
          name: Build and Archive Server
          command: |-
            npm run build
            printenv > www/.env
      - aws-cli/install
      - run:
          name: Deploy Server
          command: |-
            aws s3 cp ./www/Archive.zip s3://elasticbeanstalk-us-east-1-514849120252/
            aws elasticbeanstalk create-application-version --udagram-heidar $udagramheidar --version-label <<pipeline.git.revision>> --source-bundle S3Bucket="$EB_BUCKET",S3Key="Archive.zip"
            aws elasticbeanstalk update-environment --application-name $udagramheidar --environment-name $Udagramheidar-env --version-label <<pipeline.git.revision>>

workflows:
  build-deploy:
    jobs:
      - Front_end_deployment
      - back_end_deployment
